<div class="text-center">
  <form class="form-signin">

    <label class="h3 mb-2">Login de Usuário</label>

    <label for="email_id" class="sr-only">E-mail</label>
    <input type="email" id="email_id" name="email"
           placeholder="Informe o seu e-mail"
           class="form-control "
           [(ngModel)]="usuario.email"
           #email="ngModel"
           email
           required
           />
    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email é obrigatório
      </div>
      <div *ngIf="email.errors.email">
        Formato de email está incorreto
      </div>
    </div>

    <label for="senha_id" class="sr-only">Senha</label>
    <input type="password" id="senha_id" name="senha"
           placeholder="Informe a senha"
           class="form-control mb-3"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required/>
    <div class="alert alert-danger" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha é obrigatório
      </div>
    </div>

    <button class="btn btn-primary btn-block"
            type="submit" (click)="login()">Entrar</button>

    <img src="../../assets/img/buyNowBig.png" class="mt-lg-3" [title]="titulo_imagem" />

  </form>
</div>
