<div class="text-center">
  <form class="form-signin">

    <label class="h3 mb-2">Login de Usuário</label>

    <label for="email_id" class="sr-only">E-mail</label>
    <input type="email" id="email_id" name="email"
           placeholder="Informe o seu e-mail"
           class="form-control " [(ngModel)]="usuario.email"/>

    <label for="senha_id" class="sr-only">Senha</label>
    <input type="password" id="senha_id" name="senha"
           placeholder="Informe a senha"
           class="form-control mb-3"
           [(ngModel)]="usuario.senha"/>

    <button class="btn btn-primary btn-block"
            type="submit" (click)="login()">Entrar</button>

    <img src="../../assets/img/buyNowBig.png" class="mt-lg-3" [title]="titulo_imagem" />

    <div class="alert alert-primary" role="alertdialog" *ngIf="usuarioAutenticado">
      Usuário autenticado!
    </div>

      <div class="alert alert-dark">
        <div  *ngFor="let n of nomes">
          <p>{{n}}</p>
        </div>
      </div>      

  </form>
</div>
